{% extends "base.html" %}

{% block content %}
    <h1>CNKJ</h1>
    <div><p>Chuck Norris brushes his teeth with a mixture of iron shavings, industrial paint remover, and wood-grain alcohol.</p></div>
    <div><p>Chuck Norris can write multi-threaded applications with a single thread.</p></div>
    <div><p>One day Chuck Norris walked down the street with a massive erection. There were no survivors.</p></div>
    <div><p>Jean-Claude Van Damme once kicked Chuck Norris' ass. He was then awakened from his dream by a roundhouse kick to the face.</p></div>
    <div><p>The phrase 'dead ringer' refers to someone who sits behind Chuck Norris in a movie theater and forgets to turn their cell phone off.</p></div>
    <div><p>Once Chuck Norris and Superman had a competition. The loser had to wear his underwear over his pants.</p></div>
    <div><p>Chuck Norris once rode a bull, and nine months later it had a calf.</p></div>
    <div><p>Chuck Norris uses tabasco sauce instead of visine.</p></div>
    <div><p>Chuck Norris once ate three 72 oz. steaks in one hour. He spent the first 45 minutes having sex with his waitress.</p></div>
    <div><p>How many roundhouse kicks does it take to get to the center of a tootsie pop? Just one. From Chuck Norris.</p></div>
    <div><p>When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.</p></div>
    <div><p>Chuck Norris uses ribbed condoms inside out, so he gets the pleasure.</p></div>
    <div><p>Chuck Norris does infinite loops in 4 seconds.</p></div>
    <div><p>Chuck Norris invented his own type of karate. It's called Chuck-Will-Kill.</p></div>
    <div><p>Chuck Norris and Mr. T walked into a bar. The bar was instantly destroyed, as that level of awesome cannot be contained in one building.</p></div>
    <div><p>Chuck Norris does not follow fashion trends, they follow him. But then he turns around and kicks their ass. Nobody follows Chuck Norris.</p></div>
    <div><p>4 out of 5 doctors fail to recommend Chuck Norris as a solution to most problems. Also, 80% of doctors die unexplained, needlessly brutal deaths.</p></div>
    <div><p>CNN was originally created as the &quot;Chuck Norris Network&quot; to update Americans with on-the-spot ass kicking in real-time.</p></div>
    <div><p>Chuck Norris describes human beings as &quot;a sociable holder for blood and guts&quot;.</p></div>
    <div><p>It takes Chuck Norris 20 minutes to watch 60 Minutes.</p></div>
    <div><p>Chuck Norris doesn't actually write books, the words assemble themselves out of fear.</p></div>
    <div><p>Chuck Norris qualified with a top speed of 324 mph at the Daytona 500, without a car.</p></div>
    <div><p>Some people ask for a Kleenex when they sneeze, Chuck Norris asks for a body bag.</p></div>
    <div><p>Chuck Norris' programs never exit, they terminate.</p></div>
    <div><p>A handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there.</p></div>
    <div><p>70% of a human's weight is water. 70% of Chuck Norris' weight is his dick.</p></div>
    <div><p>In the X-Men movies, none of the X-Men super-powers are done with special effects. Chuck Norris is the stuntman for every character.</p></div>
    <div><p>Chuck Norris doesn't look both ways before he crosses the street... he just roundhouses any cars that get too close.</p></div>
    <div><p>Chuck Norris can hit you so hard that he can actually alter your DNA. Decades from now your descendants will occasionally clutch their heads and yell &quot;What The Hell was That?&quot;.</p></div>
    <div><p>Chuck Norris got his drivers license at the age of 16. Seconds.</p></div>
    <div><p>Some people like to eat frogs' legs. Chuck Norris likes to eat lizard legs. Hence, snakes.</p></div>
    <div><p>Chuck Norris is not hung like a horse. Horses are hung like Chuck Norris.</p></div>
    <div><p>When an episode of Walker Texas Ranger was aired in France, the French surrendered to Chuck Norris just to be on the safe side.</p></div>
    <div><p>Chuck Norris's beard can type 140 wpm.</p></div>
    <div><p>The only sure things are Death and Taxes and when Chuck Norris goes to work for the IRS, they'll be the same thing.</p></div>
    <div><p>Chuck Norris can speak Braille.</p></div>
    <div><p>When Chuck Norris talks, everybody listens. And dies.</p></div>
    <div><p>When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to pay taxes, ever.</p></div>
    <div><p>Chuck Norris has two speeds: Walk and Kill.</p></div>
    <div><p>Chuck Norris is the only person to ever win a staring contest against Ray Charles and Stevie Wonder.</p></div>
    <div><p>Chuck Norris originally wrote the first dictionary. The definition for each word is as follows - A swift roundhouse kick to the face.</p></div>
    <div><p>Chuck Norris can watch the radio.</p></div>
    <div><p>Chuck Norris can read from an input stream.</p></div>
    <div><p>Chuck Norris solved the Travelling Salesman problem in O(1) time. Here's the pseudo-code: Break salesman into N pieces. Kick each piece to a different city.</p></div>
    <div><p>An anagram for Walker Texas Ranger is KARATE WRANGLER SEX. I don't know what that is, but it sounds AWESOME.</p></div>
    <div><p>Chuck Norris' unit tests don't run. They die.</p></div>
    <div><p>The 11th commandment is ?Thou shalt not piss off Chuck Norris? This commandment is rarely enforced, as it is impossible to accomplish.</p></div>
    <div><p>Chuck Norris uses 8'x10' sheets of plywood as toilet paper.</p></div>
    <div><p>If you spell Chuck Norris in Scrabble, you win. Forever.</p></div>
    <div><p>When Steven Seagal kills a ninja, he only takes its hide. When Chuck Norris kills a ninja, he uses every part.</p></div>
{% endblock %}
