{% extends "base.html" %}

{% block content %}
    <h1>CNKJ</h1>
    <div><p>Chuck Norris brushes his teeth with a mixture of iron shavings, industrial paint remover, and wood-grain alcohol.</p></div>
    <div><p>Chuck Norris can write multi-threaded applications with a single thread.</p></div>
    <div><p>One day Chuck Norris walked down the street with a massive erection. There were no survivors.</p></div>
    <div><p>Jean-Claude Van Damme once kicked Chuck Norris' ass. He was then awakened from his dream by a roundhouse kick to the face.</p></div>
    <div><p>The phrase 'dead ringer' refers to someone who sits behind Chuck Norris in a movie theater and forgets to turn their cell phone off.</p></div>
    <div><p>Once Chuck Norris and Superman had a competition. The loser had to wear his underwear over his pants.</p></div>
    <div><p>Chuck Norris once rode a bull, and nine months later it had a calf.</p></div>
    <div><p>Chuck Norris uses tabasco sauce instead of visine.</p></div>
    <div><p>Chuck Norris once ate three 72 oz. steaks in one hour. He spent the first 45 minutes having sex with his waitress.</p></div>
    <div><p>How many roundhouse kicks does it take to get to the center of a tootsie pop? Just one. From Chuck Norris.</p></div>
    <div><p>When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.</p></div>
    <div><p>Chuck Norris uses ribbed condoms inside out, so he gets the pleasure.</p></div>
    <div><p>Chuck Norris does infinite loops in 4 seconds.</p></div>
    <div><p>Chuck Norris invented his own type of karate. It's called Chuck-Will-Kill.</p></div>
    <div><p>Chuck Norris and Mr. T walked into a bar. The bar was instantly destroyed, as that level of awesome cannot be contained in one building.</p></div>
    <div><p>Chuck Norris does not follow fashion trends, they follow him. But then he turns around and kicks their ass. Nobody follows Chuck Norris.</p></div>
    <div><p>4 out of 5 doctors fail to recommend Chuck Norris as a solution to most problems. Also, 80% of doctors die unexplained, needlessly brutal deaths.</p></div>
    <div><p>CNN was originally created as the &quot;Chuck Norris Network&quot; to update Americans with on-the-spot ass kicking in real-time.</p></div>
    <div><p>Chuck Norris describes human beings as &quot;a sociable holder for blood and guts&quot;.</p></div>
    <div><p>It takes Chuck Norris 20 minutes to watch 60 Minutes.</p></div>
    <div><p>Chuck Norris doesn't actually write books, the words assemble themselves out of fear.</p></div>
    <div><p>Chuck Norris qualified with a top speed of 324 mph at the Daytona 500, without a car.</p></div>
    <div><p>Some people ask for a Kleenex when they sneeze, Chuck Norris asks for a body bag.</p></div>
    <div><p>Chuck Norris' programs never exit, they terminate.</p></div>
{% endblock %}
